{% extends 'base.html.twig' %}

{% block title %}Start page{% endblock %}

{% block body %}

<h1>Top-goods!</h1>


<div class="card-deck product">
            {% for product in topProducts %}
                    <div class="card" style="width: 18rem;">

                        {{ include('product/list.html.twig', {'product': product}) }}

                    </div>
            {% endfor %}
</div>

{% endblock %}


